body{
    background-image: url("bg.png");
}

@font-face {
    font-family: myFirstFont;
    src: url(fonts/simple_script.woff2);
  }

section{
    position:relative;
    display: flex;
    height: 400px;
    width: 600px;
    margin-top: 200px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

h1{
    font-family: myFirstFont;
    color: white;
    position: absolute;
    margin: 50px;
    font-size: 40px;
}

p{
    font-family: myFirstFont;
    color: white;
    position: absolute;
    margin: 50px;
    top: 100px;
    font-size: 20px;
}






